#!/usr/bin/env ruby

require "rubygems"
require "bundler"
Bundler.setup

preprocess do
  system "rsync -gprt --partial public/ output"
end

compile '/css/*/' do
  filter :sass, {
    :load_paths => [Dir.pwd + "/content/css"],
    :full_exception => true,
    :line_numbers => true
  }
end

compile '*' do
  filter_map = {
    '.erb' => :erb,
    '.haml' => :haml,
    '.md' => :rdiscount,
    '.markdown' => :rdiscount
  }

  file_filter = filter_map[item.extension] || :haml
  raise "Filter is not configured for file extension #{item.extension} in Rules file." if file_filter.nil?

  filter file_filter
  layout 'default' unless item[:layout] == "none"
end

route '/css/*' do
  item.identifier.gsub(/\/$/, '') + '.css'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml
