--- 
title: Home
---

#masthead
  #logo
    %img{ :src => "images/logo.png" }
  #contact
    %a{ :href => '#', :alt => "Contact us" }
      %img{ :src => "images/contact.png", :title => "Contact" }
  #info
    #name
      Alex Vollmer
    #email
      %a{ :href => "mailto:info@radiantcapsule.com"}info@radiantcapsule.com
    #phone
      440.253.9046
    #vcard
      %a{ :href => "/radiant-capsule.vcf" }vCard
#columns
  #mobile
    .title
      %img{ :src => "images/mobile.png" }
    .icon
      %img{ :src => "images/devices.png" }
    %strong The future is mobile.
    It's not just about smart phones, it's about the shift 
    from the personal computer to devices you carry everywhere
    with you. Try going for a week without your smart phone and you'll realize 
    just how different your life has become.
  #web
    .title
      %img{ :src => "images/web.png" }
    .icon
      %img{ :src => "images/globe.png" }
    %strong We get the web.
    It's all connected to the web. People want to access data and services 
    from multiple portals. The web is the perfect platform for this kind of
    delivery. Whether it's web services or web standards,
    we have the experience to develop and integrate with the web.
  #philosophy
    .title
      %img{ :src => "images/philosophy.png" }
    .icon
      %img{ :src => "images/people.png" }
    %strong It's about people, not technology.
    We build this stuff to make people's lives better. Technology for the sake
    of technology is simply a waste of time and effort. We want to work on 
    things that make a difference, no matter how small, in people's lives. We
    can help you do the same thing.
