!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %link{ :href => "/css/main.css", :rel => "stylesheet", :type => "text/css" }    
    %title Radiant Capsule LLC
  %body
    = yield
