@import "blueprint/grid"
@import "compass/css3/border-radius"
@import "compass/css3/gradient"
@import "compass/css3/text-shadow"
@import "compass/layout/sticky-footer"
@import "blueprint/debug"
@import "defaults"

body
  /* +showgrid */

  margin: 0
  padding: 0
  background-color: white
  font-family: "gesta-1", "gesta-2", sans-serif
  font-size: $default-text-size
  background: url("/images/fade.png") repeat-x

#masthead
  height: 320px
  #logo
    +prepend(1)
    +column(16)
    padding-top: 9px
  #contact
    +column(7, true)
    padding-top: 54px
    padding-right: 12px
    text-align: right
    #info
      color: #efefef
      font-size: 14px
      padding: 4px
      a, a:visited
        color: #efefef
      div
        margin: 6px 0

#columns
  +column(24, true)
  .title, .icon
    text-align: center
    margin-bottom: 18px
  .icon
    height: 180px
    img
      margin-left: -10px
  strong
    color: #0040be
    display: block
    font-size: 1.2em
    margin-bottom: 9px

  #mobile
    +prepend(1)
    +column(7)
    margin-bottom: 36px

  #web
    +prepend(1)
    +column(7)
    margin-bottom: 36px

  #philosophy
    +prepend(1)
    +column(7, true)
    margin-bottom: 36px
